@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>IMDb, the world's most popular and authoritative source for movie, TV and celebrity content.</p>

<p>Also known as a wee practice app, using SQL Server, Entity Framework, C# .NET MVC, Razor, Ajax and Bootstrap.</p>
